modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["twilio:1.0.0", "revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 19161
externalPort = 5173

[[ports]]
localPort = 23744
externalPort = 3002

[[ports]]
localPort = 25528
externalPort = 3000

[[ports]]
localPort = 25529
externalPort = 4200

[nix]
channel = "stable-25_05"
packages = ["eas-cli"]

[userenv]

[userenv.shared]
MSG91_WIDGET_ID = "3666646f3256373630343935"
EXPO_PUBLIC_MSG91_WIDGET_ID = "3666646f3256373630343935"
EXPO_PUBLIC_MSG91_TOKEN_AUTH = "522821TUVhOaxkdQMU6a21a06aP1"
VITE_MSG91_WIDGET_ID = "36666772754a313132313133"
VITE_MSG91_TOKEN_AUTH = "522821TUVhOaxkdQMU6a21a06aP1"
ADMIN_PHONES = "9682824432"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_hWcPqXTWJCKomPGsXslYRSKHeUM"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_modadiBiHTBlFtybCgbvnpDjAUC"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_AVtbLuCDxhhoelnehAHUZtNaHBj"
REVENUECAT_PROJECT_ID = "proja33d4488"
REVENUECAT_TEST_STORE_APP_ID = "app39425e8b6a"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appe41b4795b3"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app5d42c9ccad"
MSG91_WEB_WIDGET_ID = "36666772754a313132313133"
